In [ ]:
import csv
import mysql.connector
from datetime import datetime

# Function to convert date format
def convert_date(date_str):
    # Assuming the current date format is 'M/D/YYYY'
    # Adjust the format string based on your CSV file's date format
    date = datetime.strptime(date_str, '%m/%d/%Y')
    # Convert the date to MySQL format 'YYYY-MM-DD'
    return date.strftime('%Y-%m-%d')

# Open the CSV file
with open(r'C:\Users\bashu\OneDrive\Desktop\python files\fact.csv', 'r') as csv_file:
    reader = csv.reader(csv_file)
    
    # Skip the header row
    next(reader)
    
    # Create a MySQL connection
    cnx = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='case_study1'
)
    
    # Create a cursor object to interact with the database
    cursor = cnx.cursor()

    # Create the Fact table if it doesn't exist
    create_table_sql = """
    CREATE TABLE IF NOT EXISTS Fact (
        Date DATE,
        ProductId INT,
        Profit DECIMAL(10, 2),
        Sales DECIMAL(10, 2),
        Margin DECIMAL(10, 2),
        COGS DECIMAL(10, 2),
        TotalExpenses DECIMAL(10, 2),
        Marketing DECIMAL(10, 2),
        Inventory INT,
        BudgetProfit DECIMAL(10, 2),
        BudgetCOGS DECIMAL(10, 2),
        BudgetMargin DECIMAL(10, 2),
        BudgetSales DECIMAL(10, 2),
        AreaCode INT,
        PRIMARY KEY (ProductId, Date)
    );
    """
    cursor.execute(create_table_sql)
    
    # Generate SQL insert statements
    for row in reader:
        date = convert_date(row[0])  # Assuming date is in the first column
        product_id = row[1]  # Assuming product ID is in the second column
        profit = row[2]  # Assuming profit is in the third column
        sales = row[3]  # Assuming sales is in the fourth column
        margin = row[4]  # Assuming margin is in the fifth column
        cogs = row[5]  # Assuming COGS is in the sixth column
        total_expenses = row[6]  # Assuming total expenses is in the seventh column
        marketing = row[7]  # Assuming marketing is in the eighth column
        inventory = row[8]  # Assuming inventory is in the ninth column
        budget_profit = row[9]  # Assuming budget profit is in the tenth column
        budget_cogs = row[10]  # Assuming budget COGS is in the eleventh column
        budget_margin = row[11]  # Assuming budget margin is in the twelfth column
        budget_sales = row[12]  # Assuming budget sales is in the thirteenth column
        area_code = row[13]  # Assuming area code is in the fourteenth column
        
        # Generate the SQL insert statement and append it to the list
        sql = f"INSERT INTO Fact (Date, ProductId, Profit, Sales, Margin, COGS, TotalExpenses, Marketing, Inventory, BudgetProfit, BudgetCOGS, BudgetMargin, BudgetSales, AreaCode) " \
              f"VALUES ('{date}', {product_id}, {profit}, {sales}, {margin}, {cogs}, {total_expenses}, {marketing}, {inventory}, {budget_profit}, {budget_cogs}, {budget_margin}, {budget_sales}, {area_code});"
        
        # Execute the SQL statement
        cursor.execute(sql)

    # Commit the changes to the database
    cnx.commit()

    # Close the cursor and MySQL connection
    cursor.close()
    cnx.close()

In [ ]:
# Create a cursor object to interact with the database
cursor = cnx.cursor()

# Execute the SELECT query to fetch the data from the "Facts" table
select_query = "SELECT * FROM Fact"
cursor.execute(select_query)

# Fetch all the rows from the table
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)

In [ ]:
from tabulate import tabulate

# Convert the rows to a list of lists
table_data = [list(row) for row in rows]

# Specify the table headers
headers = ["Date", "Product ID", "Profit", "Sales", "Margin"]

# Display the table
print(tabulate(table_data, headers=headers, tablefmt="grid"))

In [ ]:
# Create a cursor object to interact with the database
cursor = cnx.cursor()

# Execute the SELECT query to fetch the data from the "Facts" table
select_query = "SELECT * FROM Fact"
cursor.execute(select_query)

# Fetch all the rows from the table
rows = cursor.fetchall()

# Check if any rows were retrieved
if len(rows) == 0:
    print("No data found in the 'Fact' table.")
else:
    # Print the fetched data
    for row in rows:
        print(row)

# Close the cursor and the connection
cursor.close()
cnx.close()

In [ ]:
cursor = cnx.cursor()

In [ ]:
# Create the "Location" table if it doesn't exist
create_table_query = '''
    CREATE TABLE IF NOT EXISTS Location (
        AreaCode INT NOT NULL,
        State VARCHAR(50) NOT NULL,
        Market VARCHAR(20) NOT NULL,
        MarketSize VARCHAR(50) NOT NULL
    )
'''
cursor.execute(create_table_query)

In [ ]:
# Insert the data into the "Location" table
insert_query = '''
    INSERT INTO Location (AreaCode, State, Market, MarketSize) VALUES
(203, 'Connecticut', 'East', 'Small Market'),
(206, 'Washington', 'West', 'Small Market'),
(209, 'California', 'West', 'Major Market'),
(210, 'Texas', 'South', 'Major Market'),
(212, 'New York', 'East', 'Major Market'),
(213, 'California', 'West', 'Major Market'),
(214, 'Texas', 'South', 'Major Market'),
(216, 'Ohio', 'Central', 'Major Market'),
(217, 'Illinois', 'Central', 'Major Market'),
(224, 'Illinois', 'Central', 'Major Market'),
(225, 'Louisiana', 'South', 'Small Market'),
(234, 'Ohio', 'Central', 'Major Market'),
(239, 'Florida', 'East', 'Major Market'),
(253, 'Washington', 'West', 'Small Market'),
(254, 'Texas', 'South', 'Major Market'),
(262, 'Wisconsin', 'Central', 'Small Market'),
(281, 'Texas', 'South', 'Major Market'),
(303, 'Colorado', 'Central', 'Major Market'),
(305, 'Florida', 'East', 'Major Market'),
(309, 'Illinois', 'Central', 'Major Market'),
(310, 'California', 'West', 'Major Market'),
(312, 'Illinois', 'Central', 'Major Market'),
(314, 'Missouri', 'Central', 'Small Market'),
(315, 'New York', 'East', 'Major Market'),
(318, 'Louisiana', 'South', 'Small Market'),
(319, 'Iowa', 'Central', 'Small Market'),
(321, 'Florida', 'East', 'Major Market'),
(323, 'California', 'West', 'Major Market'),
(325, 'Texas', 'South', 'Major Market'),
(330, 'Ohio', 'Central', 'Major Market'),
(337, 'Louisiana', 'South', 'Small Market'),
(339, 'Massachusetts', 'East', 'Major Market'),
(347, 'New York', 'East', 'Major Market'),
(351, 'Massachusetts', 'East', 'Major Market'),
(352, 'Florida', 'East', 'Major Market'),
(360, 'Washington', 'West', 'Small Market'),
(361, 'Texas', 'South', 'Major Market'),
(386, 'Florida', 'East', 'Major Market'),
(405, 'Oklahoma', 'South', 'Small Market'),
(407, 'Florida', 'East', 'Major Market'),
(408, 'California', 'West', 'Major Market'),
(409, 'Texas', 'South', 'Major Market'),
(413, 'Massachusetts', 'East', 'Major Market'),
(414, 'Wisconsin', 'Central', 'Small Market'),
(415, 'California', 'West', 'Major Market'),
(417, 'Missouri', 'Central', 'Small Market'),
(419, 'Ohio', 'Central', 'Major Market'),
(425, 'Washington', 'West', 'Small Market'),
(430, 'Texas', 'South', 'Major Market'),
(432, 'Texas', 'South', 'Major Market'),
(435, 'Utah', 'West', 'Small Market'),
(440, 'Ohio', 'Central', 'Major Market'),
(469, 'Texas', 'South', 'Major Market'),
(475, 'Connecticut', 'East', 'Small Market'),
(503, 'Oregon', 'West', 'Small Market'),
(504, 'Louisiana', 'South', 'Small Market'),
(505, 'New Mexico', 'South', 'Small Market'),
(508, 'Massachusetts', 'East', 'Major Market'),
(509, 'Washington', 'West', 'Small Market'),
(510, 'California', 'West', 'Major Market'),
(512, 'Texas', 'South', 'Major Market'),
(513, 'Ohio', 'Central', 'Major Market'),
(515, 'Iowa', 'Central', 'Small Market'),
(516, 'New York', 'East', 'Major Market'),
(518, 'New York', 'East', 'Major Market'),
(530, 'California', 'West', 'Major Market'),
(541, 'Oregon', 'West', 'Small Market'),
(559, 'California', 'West', 'Major Market'),
(561, 'Florida', 'East', 'Major Market'),
(562, 'California', 'West', 'Major Market'),
(563, 'Iowa', 'Central', 'Small Market'),
(567, 'Ohio', 'Central', 'Major Market'),
(573, 'Missouri', 'Central', 'Small Market'),
(580, 'Oklahoma', 'South', 'Small Market'),
(585, 'New York', 'East', 'Small Market'),
(603, 'New Hampshire', 'East', 'Small Market'),
(607, 'New York', 'East', 'Small Market'),
(608, 'Wisconsin', 'Central', 'Small Market'),
(614, 'Ohio', 'Central', 'Major Market'),
(617, 'Massachusetts', 'East', 'Major Market'),
(618, 'Illinois', 'Central', 'Small Market'),
(619, 'California', 'West', 'Major Market'),
(626, 'California', 'West', 'Major Market'),
(630, 'Illinois', 'Central', 'Major Market'),
(631, 'New York', 'East', 'Major Market'),
(636, 'Missouri', 'Central', 'Small Market'),
(641, 'Iowa', 'Central', 'Small Market'),
(646, 'New York', 'East', 'Major Market'),
(650, 'California', 'West', 'Major Market'),
(660, 'Missouri', 'Central', 'Small Market'),
(661, 'California', 'West', 'Major Market'),
(682, 'Texas', 'South', 'Major Market'),
(702, 'Nevada', 'West', 'Small Market'),
(707, 'California', 'West', 'Small Market'),
(708, 'Illinois', 'Central', 'Small Market'),
(712, 'Iowa', 'Central', 'Small Market'),
(713, 'Texas', 'South', 'Major Market'),
(714, 'California', 'West', 'Major Market'),
(715, 'Wisconsin', 'Central', 'Small Market'),
(716, 'New York', 'East', 'Small Market'),
(717, 'Pennsylvania', 'East', 'Small Market'),
(718, 'New York', 'East', 'Major Market'),
(719, 'Colorado', 'Central', 'Small Market'),
(720, 'Colorado', 'Central', 'Small Market'),
(724, 'Pennsylvania', 'East', 'Small Market'),
(727, 'Florida', 'East', 'Small Market'),
(740, 'Ohio', 'Central', 'Small Market'),
(754, 'Florida', 'East', 'Small Market'),
(760, 'California', 'West', 'Small Market'),
(772, 'Florida', 'East', 'Small Market'),
(773, 'Illinois', 'Central', 'Major Market'),
(774, 'Massachusetts', 'East', 'Major Market'),
(775, 'Nevada', 'West', 'Small Market'),
(781, 'Massachusetts', 'East', 'Major Market'),
(786, 'Florida', 'East', 'Major Market'),
(805, 'California', 'West', 'Major Market'),
(806, 'Texas', 'South', 'Small Market'),
(813, 'Florida', 'East', 'Major Market'),
(815, 'Illinois', 'Central', 'Small Market'),
(816, 'Missouri', 'Central', 'Small Market'),
(817, 'Texas', 'South', 'Major Market'),
(818, 'California', 'West', 'Major Market'),
(830, 'Texas', 'South', 'Small Market'),
(831, 'California', 'West', 'Small Market'),
(832, 'Texas', 'South', 'Major Market'),
(845, 'New York', 'East', 'Small Market'),
(847, 'Illinois', 'Central', 'Small Market'),
(850, 'Florida', 'East', 'Small Market'),
(857, 'Massachusetts', 'East', 'Major Market'),
(858, 'California', 'West', 'Major Market'),
(860, 'Connecticut', 'East', 'Major Market'),
(863, 'Florida', 'East', 'Small Market'),
(903, 'Texas', 'South', 'Small Market'),
(904, 'Florida', 'East', 'Major Market'),
(909, 'California', 'West', 'Major Market'),
(914, 'New York', 'East', 'Small Market'),
(915, 'Texas', 'South', 'Small Market'),
(916, 'California', 'West', 'Major Market'),
(917, 'New York', 'East', 'Major Market'),
(918, 'Oklahoma', 'South', 'Small Market'),
(920, 'Wisconsin', 'Central', 'Small Market'),
(925, 'California', 'West', 'Major Market'),
(936, 'Texas', 'South', 'Small Market'),
(937, 'Ohio', 'Central', 'Small Market'),
(940, 'Texas', 'South', 'Small Market'),
(941, 'Florida', 'East', 'Small Market'),
(949, 'California', 'West', 'Major Market'),
(951, 'California', 'West', 'Major Market'),
(952, 'Minnesota', 'Central', 'Small Market'),
(954, 'Florida', 'East', 'Major Market'),
(956, 'Texas', 'South', 'Small Market'),
(959, 'Connecticut', 'East', 'Small Market'),
(970, 'Colorado', 'Central', 'Small Market'),
(971, 'Oregon', 'West', 'Small Market'),
(972, 'Texas', 'South', 'Major Market'),
(978, 'Massachusetts', 'East', 'Small Market'),
(979, 'Texas', 'South', 'Small Market'),
(985, 'Louisiana', 'South', 'Small Market')
    
'''
cursor.execute(insert_query)

In [ ]:
# Execute the query to fetch the data from the "Location" table
cursor.execute("SELECT * FROM Location")

# Fetch all the rows from the table
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)

In [ ]:
# Create a cursor object to interact with the database
cursor = cnx.cursor()

# Create the "product" table
create_table_query = '''
    CREATE TABLE IF NOT EXISTS product (
        productID INT PRIMARY KEY NOT NULL,
        product_type VARCHAR(20),
        product VARCHAR(20) NOT NULL,
        Type_p VARCHAR(20) NOT NULL
    )
'''
cursor.execute(create_table_query)

In [ ]:
# Create a cursor object to interact with the database
cursor = cnx.cursor()

# Create the "product" table
create_table_query = '''
    CREATE TABLE IF NOT EXISTS product (
        productID INT PRIMARY KEY NOT NULL,
        product_type VARCHAR(20),
        product VARCHAR(20) NOT NULL,
        Type_p VARCHAR(20) NOT NULL
    )
'''
cursor.execute(create_table_query)

In [ ]:
# Insert the values into the "product" table
insert_query = '''
    INSERT INTO product (productID, product_type, product, Type_p) VALUES
    (1,'Coffee','Amaretto','Regular'),
    (2,'Coffee','Columbian','Regular'),
    (3,'Coffee','Decaf Irish Cream','Decaf'),
    (4,'Espresso','Caffe Latte','Regular'),
    (5,'Espresso','Caffe Mocha','Regular'),
    (6,'Espresso','Decaf Espresso','Decaf'),
    (7,'Espresso','Regular Espresso','Regular'),
    (8,'Herbal Tea','Chamomile','Decaf'),
    (9,'Herbal Tea','Lemon','Decaf'),
    (10,'Herbal Tea','Mint','Decaf'),
    (11,'Tea','Darjeeling','Regular'),
    (12,'Tea','Earl Grey','Regular'),
    (13,'Tea','Green Tea','Regular')
'''
cursor.execute(insert_query)

In [ ]:
# Execute the query to fetch the data from the "Location" table
cursor.execute("SELECT * FROM product")

# Fetch all the rows from the table
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)